
*:focus {
  outline: 2px dashed plum;
}

html {
  font-family: 'Solway', serif;
  color: bisque;
  font-size: 16px;
}

h1 {
  margin-top: 32px;
  font-size: 5rem;
}

h2 {
  margin-top: 64px;
  font-size: 3rem;
  color: salmon;
}

header {
  width: 100%;
  text-align: center;
}

aside > article {
  font-size: 1.5rem;
  color: aquamarine;
}

aside > .article > p {
  line-height: 1.5em;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.toggle, .tip-container {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#loading-indicator {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#loading-indicator > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tip-container {
  height: 100px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.3rem;
  color: salmon;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: auto;
  margin-right: auto;
}

.tip-container > img {
  height: 48px;
  width:  48px;
  margin-left: 0;
}

.tip-container > .tip {
  padding: 0 16px;
}

label[for="toggle-animation"], #toggle-animation {
  margin-left: 32px;
  color: white;
  font-size: 1.8rem;
}
#toggle-animation {
  height: 36px;
  width: 36px;
  margin-left: 0;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 50px;
}

a {
  color: salmon;
}

a:visited {
  color: saddlebrown;
}

aside.overlay-sidebar {
  position: absolute;
  z-index: 1;
  left: -50%;
  top: 12px;
  width: 50%;
  height: 100%;
  background-color: black;
  opacity: .9;
  border-right: 2px dashed sienna ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 48px;
  box-sizing: border-box;
  transition: left .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Button SVG Styles **/
.menu {
  position: fixed;
  left: 0;
  top: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/** Media Queries**/
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }

  #menu-button, #menu-button > svg {
    height: 56px;
    width: 56px;
    top: 20px;
  }
  #toggle-animation {
    height: 24px;
    width: 24px;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px), (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }

  h1 {
    margin-top: 64px;
  }

  #menu-button {
    height: 48px;
    width: 48px;
    top: 10px;
  }

  #menu-button > svg {
    height: 48px;
    width: 48px;
  }

  aside.overlay-sidebar {
    width: 100%;
    left: -100%;
  }

  #toggle-animation {
    height: 24px;
    width: 24px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .tip-container {
    flex-direction: column;
    gap: 16px;
  }
  .tip-container > img {
    height: 24px;
    width: 24px;
  }
}
